USE [supercom]
GO
/****** Object:  Table [dbo].[TimeZones]    Script Date: 22/05/2021 22:16:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeZones](
	[Country_code] [varchar](2) NULL,
	[LatLon] [varchar](15) NULL,
	[Name] [varchar](32) NOT NULL,
	[Portion_of_country_covered] [varchar](73) NULL,
	[Status] [varchar](10) NOT NULL,
	[UTC_offset] [varchar](6) NOT NULL,
	[UTC_DST_offset] [varchar](6) NOT NULL,
	[Notes] [varchar](176) NULL,
PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22/05/2021 22:16:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[WebSite] [nvarchar](200) NULL,
	[TimeZone] [nvarchar](200) NULL,
	[PhoneSKype] [nvarchar](200) NULL,
	[About] [nvarchar](1000) NULL,
	[Avatar] [varbinary](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastUpdate] [datetime] NOT NULL,
	[SendTasks] [bit] NULL,
	[TaskInterval] [int] NOT NULL,
	[NextTask] [datetime] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[TimeZones] ([Country_code], [LatLon], [Name], [Portion_of_country_covered], [Status], [UTC_offset], [UTC_DST_offset], [Notes]) VALUES (N'CI', N'+0519-00402', N'Africa/Abidjan', NULL, N'Canonical', N'+00:00', N'+00:00', NULL)
INSERT [dbo].[TimeZones] ([Country_code], [LatLon], [Name], [Portion_of_country_covered], [Status], [UTC_offset], [UTC_DST_offset], [Notes]) VALUES (N'GH', N'+0533-00013', N'Africa/Accra', NULL, N'Canonical', N'+00:00', N'+00:00', NULL)
INSERT [dbo].[TimeZones] ([Country_code], [LatLon], [Name], [Portion_of_country_covered], [Status], [UTC_offset], [UTC_DST_offset], [Notes]) VALUES (N'ET', N'+0902+03842', N'Africa/Addis_Ababa', NULL, N'Alias', N'+03:00', N'+03:00', N'Link to Africa/Nairobi')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [WebSite], [TimeZone], [PhoneSKype], [About], [Avatar], [CreateDate], [LastUpdate], [SendTasks], [TaskInterval], [NextTask]) VALUES (1, N'alon', N'alias', N'aaa.com', N'Asia/Karachi', N'1234566', N'nice guy', NULL, CAST(N'2021-05-21T11:48:28.813' AS DateTime), CAST(N'2021-05-21T11:48:28.813' AS DateTime), 1, 10, CAST(N'2021-05-21T16:48:27.230' AS DateTime))
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [WebSite], [TimeZone], [PhoneSKype], [About], [Avatar], [CreateDate], [LastUpdate], [SendTasks], [TaskInterval], [NextTask]) VALUES (2, N'bob', N'baliky', N'gg.org', N'America/La_Paz', NULL, N'very nice', NULL, CAST(N'2021-05-21T11:49:15.363' AS DateTime), CAST(N'2021-05-21T11:49:15.363' AS DateTime), 1, 5, CAST(N'2021-05-21T16:49:27.230' AS DateTime))
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [WebSite], [TimeZone], [PhoneSKype], [About], [Avatar], [CreateDate], [LastUpdate], [SendTasks], [TaskInterval], [NextTask]) VALUES (3, N'Miles', N'Davis', N'davis.org', N'America/Detroit', N'22334', NULL, NULL, CAST(N'2021-05-22T09:54:11.990' AS DateTime), CAST(N'2021-05-22T09:54:11.990' AS DateTime), 1, 8, CAST(N'2021-05-22T09:54:11.990' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
